body{
    margin: 0;
    --bs-body-font-family: 'Inter', sans-serif;
    min-height: 100vh;
    width: 100%;
    color: hsl(0, 0%, 89%);
}

.container-fluid {
    --bs-gutter-x: 5rem;
    --bs-gutter-y: 2rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
    padding-top: calc(var(--bs-gutter-y) * .5);
    margin-right: auto;
    margin-left: auto;
}

h1, h2{
    font-family: 'Prata', sans-serif;
    /*margin-top: 1rem;*/

}

h2{
    font-size: 1.5rem;
}

p{
    font-weight: 200;
    font-size: 0.8rem;
    line-height: 1.3rem;

}

/*--------------- NAVIGATION ----------------*/
.navbar{
    --bs-navbar-color: hsl(0, 0%, 89%);;
    --bs-navbar-brand-color: hsl(0, 0%, 89%);
    --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar-brand{
    font-size: .79rem;
    font-family: 'Prata', sans-serif;
    transition: color 200ms ease;
}

.navbar-brand:hover, .nav-link:hover{
    color: rgb(73, 163, 236);
    cursor: pointer;
}

.navbar-brand:focus, .nav-link:focus{
    color: rgb(141, 139, 139); 
}

.nav-link{
    font-size: .75rem;
    transition: color 200ms ease;
}

.navbar-nav{
    margin: 0 auto;
}

a.nav-link{
    padding: 0 35px;
}

.nav-item{
    font-weight: 100;
}

.btn{
    font-size: 14px;
    --bs-btn-color: #212529;
    --bs-btn-bg: yellow;
    --bs-btn-border-radius: none;
    transition: background-color 100ms ease-out
}

.btn:hover{
    background-color: transparent;
    color: beige;
}

.btn:focus{
    background-color: rgb(226, 226, 73);
    color: black;
    border: 1px solid black;
}

/*------------------- END OF NAVIGATION --------------------*/


/*------------------- THIRD SECTION -----------------------*/
.greyBg{
    margin-top: 45px;
    padding-top: 20px;
    background-color: rgb(54, 54, 59);
}


/*------------------ MEDIA QUERIES --------------------*/
@media(max-width: 575px){
    .container-fluid {
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .125rem;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-top: calc(var(--bs-gutter-y) * .5);
    }
}

@media(max-width: 767px){
    .container-fluid {
        --bs-gutter-x: 1rem;
        --bs-gutter-y: .25rem;
    }
    .image-line{
        width: 100%;
    }
}

@media(max-width: 991px){
    .container-fluid {
        --bs-gutter-x: 2rem;   
    }
}